src/main/resources/org/springframework/social/salesforce/config/xml/spring-social-salesforce-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:social="http://www.springframework.org/schema/social/salesforce"
	targetNamespace="http://www.springframework.org/schema/social/salesforce">

	<xs:element name="config">
		<xs:complexType>
			<xs:attribute name="consumerKey" use="required" type="xs:string" />
			<xs:attribute name="consumerSecret" use="required" type="xs:string" />
			<xs:attribute name="authentication-service-class" use="optional" type="xs:string" />
		</xs:complexType>
	</xs:element>

</xs:schema>